@font-face {
    font-family: Dosis;
    src: url(../font/Dosis-Regular.ttf);
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    align-items: center;
    background: linear-gradient(320deg, black, red);
    font-display: swap;
    height: inherit;
    justify-content: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
input {
    border: none;
    outline: none;
}

input:focus {
    outline: none;
}

button {
    border: none;
    outline: none;
    background: none;
    font-family: 'Dosis', sans-serif;;
    cursor: pointer;
}

button:focus {
    outline: none;
}

.calculator {
    background: rgba(255, 255, 255, 0.30);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .75rem;
    width: 325px;
    border: 1px solid rgba(255, 255, 255, 0.01);
    padding: 20px;
    border-radius: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.screen {
    grid-column: 1 / 5;
    border-radius: .75rem;
    font-size: 2rem;
    font-family: Dosis, sans-serif;
    height: 6rem;
    background: rgba(255, 255, 255, 0.75);
    text-align: right;
    padding: 20px;
}

::placeholder {
    color: black;
}

.symbol,
.number {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    aspect-ratio: 1;
    font-size: 1.25rem;
    border-radius: 16px;
    transition: .15s ease;
}
.double {
    flex-basis: 47%;
}
.symbol {
    background: #910c07;
    color: white;
}

.symbol:hover {
    background: inherit;
}

.number {
    background: rgba(255, 255, 255, 0.75);
}

.number:hover {
    background: inherit;
}
